* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
#tree_part {
  float: left;
  width: 70%;
  padding: 10px;
}

#info_part {
  float: left;
  width: 30%;
  padding: 10px;
  height: 400px;
  /* visibility: hidden; */
}

.node {
  cursor: pointer;
}
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.node text {
  font: 10px sans-serif;
}
.link {
  fill: none;
  stroke: grey;
  stroke-width: 1.5px;
}

body {
  overflow: hidden;
}
