<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Chess Move Trees</title>
    <link rel = "stylesheet" type = "text/css" href = "/static/css/chess.css" />
    <link rel = "stylesheet" type = "text/css" href = "/static/css/chessboard-1.0.0.css" />
    <link rel="stylesheet" href="/static/css/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Kalam&display=swap" rel="stylesheet">
</head>

  <body>

      <div class="row">
          <div class="column" id="tree_part">
            <h2 style="text-align: center; ">Chess Move Tree</h2>
            <h3 style="text-align: center; "> Tina and Reid for info viz</h3>
          </div>
          <div class="column" id="info_part">
            <h2 style="text-align:center"> Chess Board</h2>
            <div id="board"></div>
            <button id="expandBtn">Expand Node</button>
            <button id="contractBtn">Contract Node</button>
            <button id="expandnextBtn">Expand Next Node</button>
            <button id="centerBtn">Center to Node</button>
          </div>

        </div>

                <nav role="navigation" >
                    <div id="menuToggle" class="my-legend">
                    <div class="legend-scale" >
                      <input type="checkbox" />
                      <span></span>
                      <span></span>
                      <span></span>
                      <ul class="legend-labels" id="menu">
                        <p>Best Move</p>
                        <div class="gradient"></div>
                        <p>Worst Move</p>
                        <p>Test texst test </p>
                      </ul>
                    </div>

                  </div>
                  </nav>
  <!-- load the libraries -->
  <script>
    var start_fen = '{{ start_fen }}';
  </script>

  <script src="/static/js/third_party/underscore-min.js"></script>
  <script src="/static/js/third_party/jquery-3.4.1.min.js"></script>
  <script src="/static/js/third_party/d3.v3.min.js"></script>
  <script src="/static/js/third_party/chessboard-1.0.0.js"></script>
  <!-- load our stuff -->
  <!-- <script src="/static/js/stockfish/stockfish.js"></script> causes 100% CPU usage-->
  <script src="/static/js/chess_utils.js"></script>
  <script src="/static/js/chess.js"></script>

  </body>
</html>
