<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Chess Move Trees</title>
    <link rel = "stylesheet" type = "text/css" href = "/static/css/chess.css" />
    <link rel = "stylesheet" type = "text/css" href = "/static/css/chessboard-1.0.0.css" />
    <link rel="stylesheet" href="/static/css/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Kalam&display=swap" rel="stylesheet">
</head>

 <body>
     <div id="board" style="width: 400px"></div>
     <input type="text" id="fen_input" style="width: 400px">
      <div class="buttons">
     <button id="startBtn">Start Analysis</button>
     <button id="clearBtn">Empty Board</button>
     <button id="resetBtn">Reset Board</button>
     <button id="flipBtn">Change Colour</button>
     </div>
     <div class="dropdown">
         <form name="dropdown_form">
         <select name ="tricky_lines_dropdown" id="tricky_lines_dropdown" onChange = "update_board(document.dropdown_form.tricky_lines_dropdown.options[document.dropdown_form.tricky_lines_dropdown.options.selectedIndex].value);">
          <option value="start"> Interesting Boards</option>
          <option value="rnbqkb1r/pp2pppp/2p2n2/3p4/3P4/3BP3/PPPN1PPP/R1BQK1NR b KQkq - 3 4">rnbqkb1r/pp2pppp/2p2n2/3p4/3P4/3BP3/PPPN1PPP/R1BQK1NR b KQkq - 3 4</option>
          <option value="rnbq1rk1/ppppbppp/5n2/1B2Q3/4P3/8/PPPP1PPP/RNB1K1NR w KQ - 3 5">rnbq1rk1/ppppbppp/5n2/1B2Q3/4P3/8/PPPP1PPP/RNB1K1NR w KQ - 3 5</option>
          <option value="r1bqkbnr/1p1p1ppp/p1n1p3/2p5/2B1P3/2N2Q2/PPPP1PPP/R1B1K1NR w KQkq - 0 5">r1bqkbnr/1p1p1ppp/p1n1p3/2p5/2B1P3/2N2Q2/PPPP1PPP/R1B1K1NR w KQkq - 0 5</option>
          <option value="rnbqkbnr/ppp3pp/4p3/3pP3/5P2/8/PPP3PP/RNBQKBNR b KQkq - 0 5">rnbqkbnr/ppp3pp/4p3/3pP3/5P2/8/PPP3PP/RNBQKBNR b KQkq - 0 5</option>
        </select>
    </form>
     </div>
    </div>


  <script src="/static/js/third_party/jquery-3.4.1.min.js"></script>
  <script src="/static/js/third_party/chessboard-1.0.0.js"></script>
  <script src="/static/js/index.js"></script>

  </body>
</html>
