<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Chess Move Trees</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel = "stylesheet" type = "text/css" href = "/static/css/chess.css" />
    <link rel = "stylesheet" type = "text/css" href = "/static/css/chessboard-1.0.0.css" />
    <link rel="stylesheet" href="/static/css/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Kalam&display=swap" rel="stylesheet">
</head>

 <body>

    <table class="table table-striped">
        <tbody>
          <tr>
            <th class="col-sm-6">
                <div class="board2" id="board" style="width: 500px"></div>
                <div class="form-group row" style="margin-top: 1%;">
                    <label class="col-sm-2 col-form-label">Fen</label>
                    <input type="text" id="fen_input" style="width: 530px">
                </div>


     <div class="form-group row" style="margin-top: 1%;">
        <label class="col-sm-2 col-form-label">Interesting Boards</label>
        <div class="dropdown">
         <form name="dropdown_form">
         <select class="mdb-select md-form colorful-select dropdown-primary" name ="tricky_lines_dropdown" id="tricky_lines_dropdown" onChange = "update_board(document.dropdown_form.tricky_lines_dropdown.options[document.dropdown_form.tricky_lines_dropdown.options.selectedIndex].value);">
          <option value="start">Default</option>
          <option value="rnbqkb1r/pp2pppp/2p2n2/3p4/3P4/3BP3/PPPN1PPP/R1BQK1NR b KQkq - 3 4">rnbqkb1r/pp2pppp/2p2n2/3p4/3P4/3BP3/PPPN1PPP/R1BQK1NR b KQkq - 3 4</option>
          <option value="rnbq1rk1/ppppbppp/5n2/1B2Q3/4P3/8/PPPP1PPP/RNB1K1NR w KQ - 3 5">rnbq1rk1/ppppbppp/5n2/1B2Q3/4P3/8/PPPP1PPP/RNB1K1NR w KQ - 3 5</option>
          <option value="r1bqkbnr/1p1p1ppp/p1n1p3/2p5/2B1P3/2N2Q2/PPPP1PPP/R1B1K1NR w KQkq - 0 5">r1bqkbnr/1p1p1ppp/p1n1p3/2p5/2B1P3/2N2Q2/PPPP1PPP/R1B1K1NR w KQkq - 0 5</option>
          <option value="rnbqkbnr/ppp3pp/4p3/3pP3/5P2/8/PPP3PP/RNBQKBNR b KQkq - 0 5">rnbqkbnr/ppp3pp/4p3/3pP3/5P2/8/PPP3PP/RNBQKBNR b KQkq - 0 5</option>
        </select>
    </form>
     </div>
    </div>
    <div class="buttons mybtn" style="text-align: center;display: block;">
        <button type="button" class="btn btn-info " id="startBtn">Start Analysis</button>
        <button type="button" class="btn btn-info " id="clearBtn">Empty Board</button>
        <button type="button" class="btn btn-info " id="resetBtn">Reset Board</button>
        <button type="button" class="btn btn-info " id="flipBtn">Change Colour</button>
        </div>
  </div>
  </th>
            <th>
              <h1 style="text-align: center;">Dynamic Chess Tree Visualization By Tina And Reid</h1>
                <h6> Source code avaible <a href="https://github.com/reidmcy/infoviz_chess"> here</a></h6>
                <p>You can move the pieces around and create a chess board to study. Then press the "Start Analysis" button to view the move tree.</p>
                <p> Or you can select one of our demo starting positions from the dropdown menu</p>
                <p> This was made for  <a href="https://csc2537-visualization.github.io/"> CSC2537/STA2555 Information Visualization</a></p>
            </th>

          </tr>

        </tbody>
      </table>




  <script src="/static/js/third_party/jquery-3.4.1.min.js"></script>
  <script src="/static/js/third_party/chessboard-1.0.0.js"></script>
  <script src="/static/js/index.js"></script>

  </body>
</html>
